/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display:block;}body{line-height:1;}ol, ul{list-style:none;}blockquote, q{quotes:none;}blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }



/* 
######################
Main Code Starts Here 
######################
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/* Heading  */
h1,
h2,
h3,
h4 {
    font-weight: 900;
    padding: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

/* Paragraph  here*/
p {
    font-size: 14px;
    padding: 10px;
}

/* Navbar  here*/
.navbar {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}

.navigation a {
    display: block;
    padding: 1em;
    color: #c78c06;
    text-decoration: none;
    text-align: center;
}

.navigation a logo {
    text-align: left;
}

.navigation a:hover {
    background: #c78c06;
    color: #313131;
}

/* Search Form  here */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 10px;
    width: 100%;
}

.search-form button {
    padding: 10px;
    background-color: #313131;
    font-size: 16px;
    color: #c78c06;
    border: 1px solid #c78c06;
}

.search-form button:hover {
    background-color: #c78c06;
    color: #313131;
}

/* Banner  here */
.banner {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.bannertxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: #fff;
}

.banner-content {
    background-color: rgba(25, 31, 52, 0.8);
}

.connect-button {
    background-color: #c78c06;
    color: #313131;
    padding: 30px;
    text-decoration: none;
}

.connect-button:hover {
    background-color: #a66b00;
}

/* Main Sections  here */


/* About Section  here */
#about {
    background-color: #ffe6ac;
}

#about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
}

/* Horizontal Rule  here */
hr {
    border-width: 1px 0;
    border-color: #c78c06;
    color: #c78c06;
    width: 95%;
}

/* Services group, Team, Contact, Hours, Location Sections  here */
#services-grp,
#team-grp,
#contact-grp,
#hours-grp,
#location-grp {
    padding: 20px;
}


.services-btn {
    background-color: #313131;
    color: #fff;
    padding: 30px;
    text-decoration: none;
}

.services-btn:hover {
    background-color: #c78c06;
    color: #313131;
}

/* Vision Section  here */
.vision-btn {
    background-color: rgba(25, 31, 52, 0.8);
    color: #fff;
    padding: 30px;
    text-decoration: none;
    border: 2px solid #a66b00;
}

.vision-btn:hover {
    background-color: #c78c06;
    color: #313131;
}

/* Picture width */
.pic {
    width: 100%;
}

/* Text About grp  here */
.txt-abt {
    max-width: 800px;
    margin-top: 20px;
}

/* Cards  here */
.card {
    background-color: #ffe6ac;
}

/* Vision Section Background Image  here*/
.vision {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/* Gtxt group Text  here */
.gtxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffe6ac;
}

.team-bg {
    background-color: #ffe6ac;
}

/* Contact Form  here */
#contact-form {
    font-size: 14px;
    padding: 20px;
}

.form input,
.form textarea {
    width: 100%;
    box-sizing: border-box;
}

/* Form Button  here */
#send-btn {
    border: 1px solid #a66b00;
    font-size: 18px;
    background: #313131;
    color: #c78c06;
    margin-top: 10px;
    width: auto;
}

#send-btn:hover {
    background: #fff;
}

/* Hours Table  here */
.hours-table table {
    width: 95%;
    font-size: 14px;
    padding: 20px;
    margin: auto;

}

.hours-table table th,
.hours-table table td {
    border: 1px solid #000;
    padding: 8px;
}

.hours-table table thead tr:first-child th {
    background-color: #ffe6ac;
}

/* gMap  here */
.map iframe {
    width: 100%;
    padding: 20px;
}

/* Footer  here */
.dfooter {
    background-color: #313131;
    color: #c78c06;
    font-size: 14px;
    padding: 30px;
}

.dfooter a {
    text-decoration: none;
    color: inherit;

}

/* 
#######################################################
Media Query for Screen Width Greater than 760px below
#######################################################
*/
@media screen and (min-width: 760px) {

    /* nav media query css here */
    .navigation {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .banner-content {
        padding: 40px;
        margin: 0 100px;
    }


    /* about layout for css here */
    #about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .img-abt,
    .txt-abt {
        width: 100%;
    }

    .flex-container {
        display: flex;
    }

    .gpic-one,
    .gtxt-1 {
        flex: 1;
    }


    /* services css here */
    /* layout should be 2 rows 8 per row 
    as per video recording tip */
    .cards {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
        grid-template-areas:
            ". c1 c1 c1 c2 c2 c2 ."
            ". c3 c3 c4 c4 c5 c5 .";
    }

    .cards .digi {
        grid-area: c1;
    }

    .cards .mrket {
        grid-area: c2;
    }

    .cards .vprod {
        grid-area: c3;
    }

    .cards .wdev {
        grid-area: c4;
    }

    .cards .prnt {
        grid-area: c5;
    }

    /* Team CSS layout here */
    .team-bg .tmember2 {
        display: flex;
    }

    .gtxt-2,
    .gpic-two {
        flex: 1;
    }

    .gtxt-2 {
        order: 1;
    }

    .gpic-two {
        order: 2;
    }

    #services-title {
    margin-left: 135px;
    }
    
    /* 
    contact layout css here */
    .contact-outer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "g1 g3"
            "g2 g2";
        margin-bottom: -170px;

    }

    .form {
        grid-area: g1;
    }

    .hours-table {
        grid-area: g2;
    }

    .location-grp {
        grid-area: g3;
    }

  
   
}